
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Управление пользователями</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Profile">Учетная запись</a>
        </li>
        <li class="nav-item">
            <form class="form-inline"  asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path" asp-action="Login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path" asp-action="Register">Регистрация</a>
        </li>
    }
</ul>

