@using DiplomMetod.Models
@model ResetPasswordViewModel

<div class="row justify-content-center">
    <div class="card shadow my-2 col-lg-6">
        <div class="card-body">
            <h3 class="text-center mb-4">Сброс пароля для @Model.Email</h3>
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                    <a asp-action="Profile" class="btn btn-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}