


<export>
     <div class="d-flex justify-content-end gap-2 mt-3">
        <!-- Правая группа из 2 кнопок. За счет end-->
        <a asp-controller="Form" asp-action="ExportToExcel" class="btn btn-info text-white">Экспорт в Excel</a>
        <a asp-controller="Form" asp-action="ExportToPdf" class="btn btn-info text-white">Экcпорт в PDF</a>
     </div>
<export>
