@{
    ViewData["Title"] = "Полезные ссылкии и списки";
    Layout = "_Layout";
}

<!-- Основной блок страницы с фоновым изображением -->
<main class="home-main instructions-page">
    <!-- Центральный контейнер с контентом -->
    <div class="home-content">
        <!-- Шапка с логотипом и заголовком -->
        <div class="home-header">
            <!-- Логотип организации -->
            <img src="~/img/Giac.png" alt="Эмблема" class="home-logo" />
            <div class="home-title-wrapper">
                <!-- Главный заголовок страницы -->
                <h1 class="home-title">
                    Полезные ссылки и списки<br>
                    для работы с сервисом "Методика"
                </h1>
            </div>
        </div>

        <!-- Декоративная разделительная линия -->
        <div class="home-divider"></div>

        <!-- Блок с нумерованными инструкциями -->
        <div class="instructions-container">

            <!-- Добавление нумерации, прсто потрясно -->
            <ol class="numbered-instructions">

                <!-- Список форм -->
                <li class="instruction-item">
                    <div class="instruction-content">
                        <h3 class="instruction-title toggle-list">Перечень форм</h3>
                        <div class="instruction-text">
                            <ul class="instruction-sublist" style="display: none;">
                                <!-- #Plan. На перспективу можно организовать ссылки на эти формы -->
                                <li>Форма №1, Статистическая карточка на выявленнное преступление</li>
                                <li>Форма №1.1,"Статистическая карточка о результатах расследования преступления</li>
                                <li>Форма №2, Статистическая карточка на лицо, совершившее преступление</li>
                                <li>Форма №2.1",Статистическая карточка на лицо, подозреваемое (обвиняемое) в совершении преступления</li>
                                <li>Форма №3", Статистическая карточка о движении уголовного дела</li>
                                <li>Форма №4", Статистическая карточка об установленной сумме материального ущерба, результатах возмещения и изъятия предметов преступной деятельности</li>
                                <li>Форма №5", Статистическая карточка о потерпевшем</li>
                                <li>Форма №6", Статистическая карточка о результатах рассмотрения дела судом первой инстанции</li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Список справочников -->
                <li class="instruction-item">
                    <div class="instruction-content">
                        <h3 class="instruction-title toggle-list">Список справочников</h3>
                        <div class="instruction-text">
                            <ul class="instruction-sublist" style="display: none;">
								<li>Справочник №1. Классификатор видов экономической деятельности</li>
								<li>Справочник №2. Место совершения преступления</li>
								<li>Справочник №3. Предмет преступного посягательства или незаконного оборота</li>
								<li>Справочник №4. Оружие, боеприпасы и взрывчатые вещества</li>
								<li>Справочник №5. Национальности</li>
								<li>Справочник №6. Страны (государства)</li>
								<li>Справочник №7. Валюта</li>
                                <li>Справочник №8. Наркотические средства, психотропные, сильнодействующие, одурманивающие вещества, инструменты и оборудование, прекурсоры и ядовитые вещества</li>
								<li>Справочник №9. Социальное положение потерпевших и лиц, совершивших преступления</li>
								<li>Справочник №10. Должностное положение потерпевших и лиц, совершивших преступления</li>
								<li>Справочник №11. Организационно-правовые формы хозяйствующих субъектов</li>
								<li>Справочник №12. Способ совершения преступления</li>
								<li>Справочник №14. Служба, выявившая преступление или установившая лицо</li>
								<li>Справочник №15. Дополнительная характеристика преступления</li>
								<li>Справочник №16. Решение, принятое по уголовному делу</li>
								<li>Справочник формы №6. Справочник для заполнения статистической карточки №6</li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Список организаций -->
                <li class="instruction-item">
                    <div class="instruction-content">
                        <h3 class="instruction-title toggle-list">Список организаций</h3>
                        <div class="instruction-text">
                            <ul class="instruction-sublist" style="display: none;">
								<li>ГИАЦ МВД России</li>
								<li>Генпрокуратура России</li>
								<li>ИЦ субъекта</li>
								<li>Прокуратура субъекта</li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Список регионов -->
                <li class="instruction-item">
                    <div class="instruction-content">
                        <h3 class="instruction-title toggle-list">Список регионов</h3>
                        <div class="instruction-text">
                            <ul class="instruction-sublist" style="display: none;">

								<li>Алтайский край</li>
                                <li>Амурская область</li>
                                <li>Архангельская область</li>
                                <li>Астраханская область</li>
                                <li>Белгородская область</li>
                                <li>Брянская область</li>
                                <li>Владимирская область</li>
                                <li>Волгоградская область</li>
                                <li>Вологодская область</li>
                                <li>Воронежская область</li>
                                <li>Москва</li>
                                <li>Санкт-Петербург</li>
                                <li>Севастополь</li>
                                <li>Донецкая Народная Республика</li>
                                <li>Еврейская автономная область</li>
                                <li>Забайкальский край</li>
                                <li>Запорожская область</li>
                                <li>Ивановская область</li>
                                <li>Иркутская область</li>
                                <li>Кабардино-Балкарская Республика</li>
                                <li>Калининградская область</li>
                                <li>Калужская область</li>
                                <li>Камчатский край</li>
                                <li>Карачаево-Черкесская Республика</li>
                                <li>Кемеровская область — Кузбасс</li>
                                <li>Кировская область</li>
                                <li>Костромская область</li>
                                <li>Краснодарский край</li>
                                <li>Красноярский край</li>
                                <li>Курганская область</li>
                                <li>Курская область</li>
                                <li>Ленинградская область</li>
                                <li>Липецкая область</li>
                                <li>Луганская Народная Республика</li>
                                <li>Магаданская область</li>
                                <li>Московская область</li>
                                <li>Мурманская область</li>
                                <li>Ненецкий автономный округ</li>
                                <li>Нижегородская область</li>
                                <li>Новгородская область</li>
                                <li>Новосибирская область</li>
                                <li>Омская область</li>
                                <li>Оренбургская область</li>
                                <li>Орловская область</li>
                                <li>Пензенская область</li>
                                <li>Пермский край</li>
                                <li>Приморский край</li>
                                <li>Псковская область</li>
                                <li>Республика Адыгея (Адыгея)</li>
                                <li>Республика Алтай</li>
                                <li>Республика Башкортостан</li>
                                <li>Республика Бурятия</li>
                                <li>Республика Дагестан</li>
                                <li>Республика Ингушетия</li>
                                <li>Республика Калмыкия</li>
                                <li>Республика Карелия</li>
                                <li>Республика Коми</li>
                                <li>Республика Крым</li>
                                <li>Республика Марий Эл</li>
                                <li>Республика Мордовия</li>
                                <li>Республика Саха (Якутия)</li>
                                <li>Республика Северная Осетия — Алания</li>
                                <li>Республика Татарстан (Татарстан)</li>
                                <li>Республика Тыва</li>
                                <li>Республика Хакасия</li>
                                <li>Ростовская область</li>
                                <li>Рязанская область</li>
                                <li>Самарская область</li>
                                <li>Саратовская область</li>
                                <li>Сахалинская область</li>
                                <li>Свердловская область</li>
                                <li>Смоленская область</li>
                                <li>Ставропольский край</li>
                                <li>Тамбовская область</li>
                                <li>Тверская область</li>
                                <li>Томская область</li>
                                <li>Тульская область</li>
                                <li>Тюменская область</li>
                                <li>Удмуртская Республика</li>
                                <li>Ульяновская область</li>
                                <li>Хабаровский край</li>
                                <li>Ханты-Мансийский автономный округ — Югра</li>
                                <li>Херсонская область</li>
                                <li>Челябинская область</li>
                                <li>Чеченская Республика</li>
                                <li>Чувашская Республика — Чувашия</li>
                                <li>Чукотский автономный округ</li>
                                <li>Ямало-Ненецкий автономный округ</li>
                                <li>Ярославская область</li>

                            </ul>
                        </div>
                    </div>
                </li>


                <!-- Полезные ссылки -->
                <li class="instruction-item">
                    <div class="instruction-content">
                        <h3 class="instruction-title toggle-list">Поезные ссылки</h3>
                        <div class="instruction-text">
                            <ul class="instruction-sublist" style="display: none;">
                                <li>Ссылки на ведомтсвенные ресуры</li>
                                <li><a href="http://мвд.рф" target="_blank" rel="noopener noreferrer">http://мвд.рф</a></li>
                            </ul>
                        </div>
                    </div>
                </li>


            </ol>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Выводим элементы с toggle-list
        const toggleButtons = document.querySelectorAll('.toggle-list');
        
        // Добавляем действия для кнопок кнопки
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                // Переходим к другому ul с instruction-sublist
                const sublist = this.parentElement.querySelector('.instruction-sublist');
                
                // Отображение списка
                if (sublist.style.display === 'none') {
                    sublist.style.display = 'block';
                } else {
                    sublist.style.display = 'none';
                }
            });
        });
    });
</script>

